body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #222;
}
button {
    margin: 0 1em;
    padding: .5em;
}
.container {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    flex-flow: column;
}
.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map {
    width: 100%;
    display: flex;
    justify-content: center;
}
svg {
    position: absolute;
}
#heatmap {
    position: absolute;

}
.state {
    fill: white;
}
.fatal {
    fill: red;
}
.not-fatal {
    fill: #aaa;
}
.info {
    position: relative;
    top: 400px;
    left: -325px;
    visibility: hidden;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 25em;
    margin: 0 auto;
}
table {
    table-layout: auto;
    width: 100%;
}
td {
    padding: .5rem;
    text-align: left;
}