body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #222;
}
select {
    margin: 0 1em;
    padding: .5em;
}
.container {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    flex-flow: column;
}
.controls {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map {
    width: 100%;
    display: flex;
    justify-content: center;
}
svg {
    position: absolute;
}
#heatmap {
    position: absolute;

}
.state {
    fill: white;
}
.fatal {
    fill: red;
}
.not-fatal {
    fill: #aaa;
}